<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<body>
    <h1>Hello my name is {{ name }}</h1>
    <img src = "https://s33.postimg.cc/fx24ctbzj/3._Sendhy_Nugroho_2.jpg", width = 300, height = 300>
    <article>NPM : {{ npm }}</article>
    <article>I am {{ age }} years old</article>
    <article>Kuliah di : Fakultas Ilmu Komputer UI</article>
    <article>Hobi : Main games dan futsal</article>
    <article>Deskripsi diri: </article>
    <article>Saya biasa dipanggil Sendhy, saya anak pertama dari 2 bersaudara</article>
    <article> </article>
    <h2>My Friends name is Muhammad Al-Kautsar Maktub</h2>
    <img src = "http://www.about.tarung2017.com/foto/720.jpg", width = 300, height = 300>
    <article>NPM : 1706043885</article>
    <article>Kuliah di : Fakultas Ilmu Komputer UI</article>
    <article>Hobi : Mengaji</article>
    
</body>
</html>
